//- include bem/header/header.pug
//- include bem/main/main.pug
//- include bem/footer/footer.pug

doctype html
html(lang='en')
head
	meta(charset='UTF-8')
	title Contact
	link(rel="icon" type="image/png" href="favicon.png" sizes="16x16")
		
	link(rel= "stylesheet" href="css/normalize.css")
	link(rel= "stylesheet" href="css/index-style.css")

	link(rel= "stylesheet" href="libs/slick-1.8.1/slick/slick.css")
	link(rel= "stylesheet" href="libs/slick-1.8.1/slick/slick-theme.css")

	link(rel= "stylesheet" href="libs/bootstrap/bootstrap-grid.css")

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

	script(src="https://maps.googleapis.com/maps/api/js?callback=loadMap" async defer)
	
body
	//- +header
	//- +main
	//- +footer
	script(type="text/javascript" src="slick-1.8.1/slick/slick.min.js")
	script(src="js/script.js")