-
	var menuItemData = [
		{
			name: "about us",
			class: "_aboutUs",
			selected: true,
		},
		{
			name: "project",
			class: "_project",
			selected: false,
		},
		{
			name: "news",
			class: "_news",
			selected: false,
		},
		{
			name: "contact",
			class: "_contact",
			selected: false,
		},
	]


	var socialData = [
		{
			className: "fa-facebook-f",
			href: "http://facebook.com",
		},
		{
			className: "fa-twitter",
			href: "http://twitter.com",
		},
		{
			className: "fa-instagram",
			href: "http://instagram.com",
		},
	]

	var headingItemData = [
		{
			src: "img/bg_item_1.jpg",
			title: "Simple & mordern",
			subtitle: "We make the world's beautiful every day",
		},
		{
			src: "img/bg_item_2.jpg",
			title: "Lorem, ipsum dolor",
			subtitle: "Lorem ipsum dolor sit amet",
		},
		{
			src: "img/bg_item_3.jpg",
			title: "Tempera farm",
			subtitle: "Lost creadera yer fasder",
		},
	]

	var projectData = [
		{
			src: "img/project_1.jpg",
			title: "Trade Center",
			plaintitle: "One World",
			text: "Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.",
			name: "New York City, United States - 1776 feet",
			isLeft: true,
		},
		{
			src: "img/project_2.jpg",
			title: "Commerce Centre",
			plaintitle: "International",
			text: "Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.",
			name: "Hong Kong - 1588 Feet",
			isLeft: false,
		},
	]

	var newsItemData = [
		{
			src: "img/news_1.jpg",
			title: "See The Unmatched Beauty Of The Great.",
			text: "Free directories: directories are perfect for customers that are... searching for",
			authorSrc: "img/author_1.jpg",
			authorName: "isaac dunn",
			date: "09 Feb 2017",
		},
		{
			src: "img/news_2.jpg",
			title: "Effective Advertising Pointers.",
			text: "Having a home based business is a wonderful asset to your life...",
			authorSrc: "img/author_2.jpg",
			authorName: "Dominic Freeman",
			date: "24 Apr 2017",
		},
		{
			src: "img/news_3.jpg",
			title: "Hypnotize Yourself Into The Ghost.",
			text: "There are many things that are important to catalog design....",
			authorSrc: "img/author_3.jpg",
			authorName: "Alice Ward",
			date: "30 Ded 2017",
		},
		{
			src: "img/news_2.jpg",
			title: "See The Unmatched Beauty Of The Great.",
			text: "Free directories: directories are perfect for customers that are... searching for",
			authorSrc: "img/author_1.jpg",
			authorName: "isaac dunn",
			date: "09 Feb 2017",
		},
		{
			src: "img/news_1.jpg",
			title: "See The Unmatched Beauty Of The Great.",
			text: "Free directories: directories are perfect for customers that are... searching for",
			authorSrc: "img/author_3.jpg",
			authorName: "isaac dunn",
			date: "09 Feb 2017",
		},
	]